@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@900&family=Titillium+Web:wght@900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Red Hat Display', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.lockscreen {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: ;
  justify-content: center;
  width: 100%;
}

.container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.container-strapline {
  margin-top: -2.5rem;
}

.container-title {
  font-size: 2.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  z-index: 10;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-title {
  padding: .75rem;
  margin: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.header-title a {
  text-decoration: none;
  color: white;
}

.header-title a:hover {
  opacity: 0.65;
} 

.desktop_nav_menu_list_item_link {
  text-decoration: none;
  color: white;
  margin: 1rem;

}

.desktop_nav_menu_list_item_link:hover {
  opacity: 0.65;
}

.desktop_nav {
  display: flex;
  justify-self: space-between;
  width: 100%;

}

.desktop_nav_menu {
  display: none;
}


.header-nav {
  transition: 1000ms ease-in-out;
}

.header-nav {
  padding: 1.2rem;
  margin: 0;
}

/* Desktop Nav Menu */



.btnX .header-nav {
  background-color: rgb(0, 0, 0, 0.98);
  transition: 1000ms ease-in-out;
}

.overlay {
  height: 94vh;
  max-height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-image: linear-gradient(rgb(0, 0, 0, 1), rgba(104, 72, 72, 0.897));
  z-index: 9;
  transform: translateY(-100%);
  transition: 1000ms ease-in-out;
  display: grid;
  place-items: center;
}

.overlay-content {
  display: flex;
  font-size: .85rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: white;
  margin: 0;
  height: 85%;
  width: 80%;
}

.overlay a {
  text-decoration: none;
}

.overlay-content-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  margin: 0;
}

.overlay-content-link:hover {
  opacity: .5;
}


.hamburgerBtn {
  cursor: pointer;
  margin: 0;
}

.hamburgerBtn:hover {
  opacity: .5;
}

.btnX .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

.btnX .line2 {
  opacity: 0;
  background-color: white;
}

.btnX .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  transition: all 500ms ease-in-out;
  margin: 6px;
}


.overlay.active {
  transform: translateY(7%);
}

.main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: black;
  color: white;
  width: 100%;
}

.main-content {
  display: grid;
  padding: 1rem;
  place-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}

.main-content-title,
.fa-rocket  {
  padding: 0;
  margin: 0;
  font-size: 7rem;
  color: transparent;
  line-height: 6.5rem;
  background-image: linear-gradient(45deg, pink, coral);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

.strapline {
 font-size: 1.25rem;
}

.fa-rocket {
  transform: rotate(-45deg);
  color: black;
  -webkit-animation: hue 3s infinite linear;
  padding: .5rem;
  margin: 0;
}


.fab,
.fas {
  font-size: 2rem;
  margin: .15rem;
  cursor: pointer;
  color: white;
}

.fab:hover,
.fas:hover {
  opacity: .5;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


.scroll-margin-top {
  scroll-margin-top: 4rem;
}

/* Project styling */

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_item {
  display: flex;
  padding: 2rem;
  width: 98%;
}



.project {
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(50, 50, 50, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.project:hover {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}

.project_image {
 object-fit: scale-down;
 max-width: 100%;
}

.project_title {
  margin: 0;
}

.project_content {
  margin: 0;
  padding: 1rem;
}

.project_button {
  margin-right: .5rem;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
}

.projects {
  margin-bottom: 5rem;
}

.project_button:hover {
  background-color: black;
  color: whitesmoke;
}

/*  */

.blog {
  font-size: 1.15rem;
  padding: 2rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.blog-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  color: black;
  max-width: 1300px;
}

.blog-title {
  font-size: 3rem;
  margin: 0;
  margin-bottom: -2rem;
  padding: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  width: 100%;
}

.contact h3 {
  font-size: 3rem;
  margin: -1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.input {
  font-family: inherit;
  font-size: 1rem;
  margin: .25rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: whitesmoke;
}

.submitBtn {
  border: 0;
  outline: none;
  width: 33.333%;
  margin: .25rem;
  padding: .5rem;
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}

.submitBtn:hover {
  background: black;
  color: whitesmoke;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  line-height: 5px;
}

@media (min-width: 600px) {
    
  .main-content-title {
    font-size: 8rem;
    padding: 2rem;
  }

  .main {
    height: 65vh;
    padding-top: 6rem;
  }



  .project_item {
    width: 50%;
  }

  .desktop_nav_menu {
    display: flex;
  }

  .btnX,
  .header-nav {
    display: none;
  }

  .main {
    height: 65vh;
  }
  

  .form {
 
    width: 40%;
  }
 

 
  

 
}

@media (min-width: 900px) {

  .project_item {
    width: 50%;
  }


  .parent {
    flex-direction: row;
  }

  .side1 {
    width: 50%;
  }

  .side2 {
    width: 50%;
  }


  .scroll-margin-top {
    scroll-margin-top: 3rem;
  }




}

@media (min-width: 1000px) {
  .main {
    height: 55vh;
    padding-top: 6rem;
  }
  
  .main-content-title {
    font-size: 10rem;
    padding: 2rem;
  }

  

  .projects {
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  .project_item {
    width: 33.333%;
  }

  .desktop_nav_menu_list_item_link {
    margin: 2rem;
  }



  
}


