*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 1.25rem;
  }

  .fab {
      font-size: 2rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: .75rem;
  }

  .header__container {
      background-color: red;
  }

  .header__text {
      font-weight: lighter;
  }
  
  /* Toggle menu */
  
  .nav {
    position: fixed;
    background: lightgray;
    color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 500ms ease-in-out;
    border: red 2px solid;
  }
  
  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    border: red 2px solid;
  }
  
  .nav__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: red 2px solid;
  }
  
  .nav__link:hover {
    opacity: 0.6;
  }
  
  .nav-toggle {
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.1rem;
    z-index: 100;
    border: red 2px solid;
  }
  
  .nav-open .nav {
    transform: translateX(0);
  }
  
  .nav-open .nav-toggle {
    position: fixed;
  }
  
  .nav-open .hamburger {
    transform: rotate(45deg);
  }
  
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  
  .nav-open .hamburger::after {
    opacity: 0;
  }
  
  .lockscreen {
    overflow: hidden;
  }
  
  /* Hamburger */
  
  .hamburger {
    display: block;
    position: relative;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: black;
    width: 1.5rem;
    height: 0.125rem;
    border-radius: 1rem;
    transition: transform ease-in-out;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .hamburger::before {
    top: 0.375rem;
  }
  .hamburger::after {
    bottom: 0.375rem;
  }


img {
    max-width: 100%;
}

section {
    padding: 4em 0;
    border: red 2px solid;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

.section-title {
    color: #F3EED9;
    padding-bottom: 1rem;
    border: red 2px solid;
}

.section-title--dark {
    color: #824936;
    border: red 2px solid;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-top: 10rem;
    line-height: 3rem;
    height: 55vh;
    border: red 2px solid;
}

.intro__text h1 {
    font-size: 2rem;
    border: red 2px solid;
}

.rob {
    color: darkblue;
    border: red 2px solid;

}

.intro__text p {
    font-size: 1.5rem;
    text-transform: lowercase;
}

.intro__socials {
    margin-top: .5rem;
}

.col + .col {
    margin-top: 1rem;
}

.section-three {
    background-color: #222C2A;
    color: #fff;
}

.section-four {
    background-color: #824936;
    color: #fff;
}

 .care {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer {
      padding: 1rem;
  }

  .footer__text {
      font-weight: lighter;
      width: auto;
  }

  p {
      line-height: 1.5rem;
  }

  .desktop__nav {
    display: none;
}

@media (min-width: 800px) {

    .header, .intro {
        max-width: 68.75rem;
        margin: 0 auto;
    }

    .intro {
      max-width: 40%;
      height: 60vh;
    }


    .desktop__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .desktop__nav-list {
        display: flex;
        text-decoration: none;
    }

    .desktop__nav-item {
        display: flex;
        margin-right: 1rem;
        text-decoration: none;
    }

    .desktop__nav-link {
        text-decoration: none;
        cursor: pointer;
        color:#3D3D3D;
    }

    .desktop__nav-btn {
        padding: .5rem 1rem;
        text-transform: uppercase;
        border-radius: 5rem;
        border: none;
        outline: none;
        background: tu;
        color: #fff;
        font-weight: 900;
        cursor: pointer;
    }

    .nav-toggle, nav {
        display: none;
    }
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 5em;
        margin-top: 0rem;
    }
  
  .care {
    display: flex;
    flex-direction: row;
  }
  
}
